<div class="genreCtn">

    <h3>Ajouter Genres</h3>

    <div class="searchBar">

        <input type="text" placeholder="rechercher série" [(ngModel)]="searchText">

        <div class="resultBar" *ngFor="let serie of series | filter : searchText" >
            <div *ngIf="searchText"> 
                <span (click)=getTheSerie(serie)> {{serie.nameSeries}}</span>
            </div>
        </div>

        <div class="resultCtn">
            <span>{{selectSerie}}</span>
        </div>

        <select>
            <option [value]=genre.id *ngFor="let genre of genres"></option>
        </select>
        
    </div>
</div>
