@import '../../../../styles.scss';

.main {
    display: flex;
    flex-direction: column;
    height: fit-content;
}
#searchBar {
    width: 50vw;
    border: 1px solid black;
}
.mangaTable {
    width: 50vw;
    height: fit-content;
    margin-bottom: 0;
    display : flex;
    flex-direction: column;
    background-color: rgba(45,52,65,1);
    padding-bottom: 0;

    .titlesSearched {
        color: white;
        padding-top: 1vh;
        cursor: pointer;
    }
}