@import '../../../../styles.scss';

.main {
    display: flex;
    flex-direction: column;
    background-color: $grey;
    background-color: white;
}
#searchBar {
    width: 33vw;
    border: 1px solid black;
}
.mangaTable {
    width: 33vw;
    height: fit-content;
    margin-bottom: 5vh;
    display : flex;
    flex-direction: column;
    background-color: rgba(45,52,65,1);

    .titlesSearched {
        color: white;
        padding-top: 1vh;
        cursor: pointer;
    }
}