<section class="main">

    <div class="title">
        <div class="banner">
            <h4>À propos de nous</h4>
        </div>
    </div>

    <div class="infos">

        <div class="text">

            <h4>
                Sur SpiritofManga.com, vous pourrez acheter et vendre des mangas d'occasions.
            </h4>

            <p>
                Venez découvrir ou retrouver des milliers de mangas d'occasions en très bon état et aux meilleurs prix (réduction pouvant aller jusqu'à -80%) ! Alors n'hésitez plus et commandez dès maintenant vos mangas en intégrale ou complétez vos collections grâce à nos mangas à l'unité !
                Si les mangas que vous recherchez ne sont plus en stock, vous pouvez mettre une alerte pour être averti dès réapprovisionnement.
            </p>
            
            <p>
                Vous souhaitez vous séparer de vos anciens mangas ? SpiritofManga.com peut vous les racheter, ... CASH !
                N'attendez plus pour envoyer votre liste de mangas en remplissant le formulaire "Rachat de mangas".   
            </p>

            <ul class="firstList">
                <li>Acheter des mangas</li>
                <li>Des milliers de mangas en vente</li>
                <li>Prix les plus bas</li>
                <li>Achat simple et rapide</li>
                <li>Paiements sécurisés</li>
                <li>Service client rapide</li>
                <li>Vendre ses mangas</li>
                <li>Nous rachetons vos mangas</li>
                <li>Vente simple et rapide</li>
                <li>Plateforme de vente sécurisée</li>
                <li>Paiement rapide</li>
            </ul>

            <h4>Nos news :</h4>
            
            <ul class="secondList">
                <li>
                    Le paiement par carte bancaire est maintenant disponible via Paypal sans création de compte. 
                    Cliquez sur "Paiement par Pay Pal" lors de la validation de votre commande et laissez vous guider.
                </li>
                
                <li>
                    Retrouvez les dernières mises à jour du site sur <a href="https://www.facebook.com/SpiritofManga.com " title="page facebook Spirit of manga">la page Facebook</a> !
                    N'oubliez pas de mettre une alerte si les tomes que vous recherchez ne sont pas disponibles lors de votre venue sur le site.
                </li>
                    
                <li>
                    Vous avez commandé sur Spiritofmanga le 1er tome d'une série et elle vous a plu ? Vous voulez acheter les autres tomes mais ils ne sont disponibles qu'en intégrale ? 
                    <br>
                    N'hésitez pas à nous demander de retirer le 1er tome de l'intégrale si elle est en stock.
                </li>
            
            </ul>
        </div>

    </div>

</section>