<div class="deliveryTitle">
    <div class="banner">
        <h4>Frais de port</h4>
    </div>
</div>

<div class="francePrice">
    <div>
        <h3>Frais de port en France métropolitaine</h3>
        <p>Vous trouverez ci-dessous les frais de port que nous vous demanderons pour envoyer vos colis. Les colis sont envoyés en Colissimo via La Poste. Les frais de port dépendent du nombre de mangas à envoyer.</p>

    </div>
  </div>    
<table class="table is-hoverable">

    <thead>
      <tr>
        <th><abbr>entre</abbr></th>
        <th>et</th>
        <th><abbr>prix</abbr></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>0.000 Kg</td>
        <td>0.150 Kg</td>
        <td>3.00 €</td>
      </tr>
      <tr>
        <td>0.151 Kg</td>
        <td>0.245 Kg</td>
        <td>4.00 €</td>
      </tr>
      <tr>
        <td>0.246 Kg</td>
        <td>0.459 Kg</td>
        <td>4.00 €</td>
      </tr>
      <tr>
        <td>0.460 Kg</td>
        <td>0.745 Kg</td>
        <td>4.00 €</td>
      </tr>
      <tr>
        <td>0.746 Kg</td>
        <td>0.959 Kg</td>
        <td>4.00 €</td>
      </tr>
      <tr>        
        <td>0.960 Kg</td>
        <td>1.995 Kg</td>
        <td>4.00 €</td>   
      </tr>
      <tr>    
        <td>1.996 Kg</td>
        <td>2.995 Kg</td>
        <td>3.50 €</td>
      </tr>
      <tr> 
        <td>2.996 Kg</td>
        <td>3.995 Kg</td>
        <td>3.00 €</td>
      </tr>
      <tr>    
        <td>3.996 Kg</td>
        <td>4.995 Kg</td>
        <td>2.50 €</td>
      </tr>
      <tr>
        <td>4.996 Kg</td>
        <td>5.995 Kg</td>
        <td>2.00 €</td>
      </tr>
    </tbody>
  </table>


