<div>
  <div class="title">
      <h3>Contactez nous !</h3>
      <p>N'hésitez pas à nous contacter pour toutes questions en remplissant le formulaire de contact ci-dessous,</p> 
      <p> nous y répondrons dans les plus brefs délais. </p><br>
    </div>
  <div class="form">
      <form>
          <label> Votre Nom : <br>
              <input type="text">
          </label>
          <label> Votre Prénom : <br>
              <input type="text">
          </label>
          <label> Votre adresse e-mail : <br>
              <input type="text">
          </label>
          <label> Votre message : <br>
              <textarea  rows="7" cols="55" type="text" placeholder="Posez nous vos questions ici !"></textarea>
          </label>
          <br>
          <button type="submit">Envoyer</button>
          
      </form>

      <img src="../../../../assets/img/kawai.png" class="kawai">

  </div>
</div>