
<div class="manageSerieCtn">

        <h3>
            Modifier Série
        </h3>
    
        <div class="searchBar"> 
            <input type="text" placeholder="Search Series" [(ngModel)]="searchText" >
        </div>
        <div class="resultBar" *ngFor="let serie of series | filter : searchText" >
            <div  *ngIf="searchText"> <span (click)=getTheSerie(serie) > {{serie.nameSeries}}</span>
            </div>
        </div>
    
</div>

    <div class="manageSerieForm" >
        <form [formGroup]="manageSeriesForm" (ngSubmit)="onSubmit()">

            <label>
                Titre:
                <input type="text" formControlName="nameSeries" [value]=nameSerie>
            </label>
            
            <label>
                Image:
                <input type="text" formControlName="photoCover" [value]=photoSerie >
            </label>
            
            <div>
                type:
                <select formControlName="types_id" id="types" >
                    <option [value]=type.id *ngFor="let type of types">{{type.name}}</option>
                </select>
            </div>
            
            
            <div>
                genre:
                <select (change)="getNewKind($event.target.value)">
                <!-- <select > -->
                    <option *ngFor="let genre of genres" [value]="genre.id"  > {{genre.name}}</option>
                </select>
                <button (click)="addNewKind()">Ajouter un genre</button>
                <div >
                        <span *ngFor="let kind of displayKinds">{{kind.name}} <button (click)="deletAKind(kind.id)">X</button></span>
                </div>
                <div >
                    <span> <button (click)="deletAKind($event.target.value)">X</button></span>
                </div>
            </div>
        
            <label>
                Descritption:
                <textarea formControlName="description" [value]=description  ></textarea>
            </label>
                
        <button type="submit" class="button" >ENVOYER</button>

        </form> 

</div>
