<app-header-home-one></app-header-home-one>
<div class="welcomeCtn">

    <div>
        <h3>Bienvenue sur SpiritOfManga.com</h3>
        <p>Sur SpiritofManga.com, vous pourrez acheter et vendre des mangas d'occasions.
        Venez découvrir ou retrouver des milliers de mangas d'occasions en très bon état et aux meilleurs prix (réduction pouvant aller jusqu'à -80%)! 
        Alors n'hésitez plus et commandez dès maintenant vos mangas en intégrale ou complétez vos collections grâce à nos mangas à l'unité !
        Si les mangas que vous recherchez ne sont plus en stock, vous pouvez mettre une alerte pour être averti dès réapprovisionnement.
        Vous souhaitez vous séparer de vos anciens mangas. SpiritofManga.com peut vous les racheter, ... CASH ! N'attendez plus pour envoyer votre liste de mangas en remplissant le formulaire "Rachat de mangas". 
        </p>
    </div>  

    <img src="./../../../../assets/img/onigiri.png">

</div>
<app-header-home-two></app-header-home-two>
