.welcomeCtn{
    display: flex;
    justify-content: space-between;
    margin: 5%;
    margin-bottom: 7%;
    img {
        width: 350px;
        height: 300px;
        margin-left: 14%;
        margin-top: 0%;
    }
    p {
        font-size: 20px;
        line-height: 1.6em;
    }
    h3 {
        font-size: 33px;
        margin-bottom: 4%;
        font-weight: bold;
        font-family: 'Dosis', sans-serif;
    }
}

@media (max-width: 1000px) {
    .welcomeCtn{
        display: flex;
        flex-direction: column-reverse;
        margin: 5%;
        img {
            width: 250px;
            height: 220px;
        }
    }
}