$borderBackComponents: 1px solid rgba(0, 0, 0, 0.2);

// Input form border
$borderBackInput: 4px solid #FF8D30 ;

// Component title style
@mixin titleStyle {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-decoration: #FF8D30 underline;
}

