<div class="main">

  <div class="tab">
    <p (click)="showPacks()" [ngStyle]="{ textDecoration: underlinePack() }">PACKS</p>
    <p (click)="showMangas()" [ngStyle]="{ textDecoration: underlineManga() }">MANGAS</p>
  </div>

  <div class="header">
    <ul>
      <li>Titre (et tome)</li>
      <li>Client</li>
      <li>date d'achat</li>
      <li>Quantité</li>
    </ul>
  </div>

  <div class="listItem">
    <div class="packOrder" *ngIf="conditionPacks"> 
      <div *ngFor="let item of archiveOrderTable">
        <app-archive-pack-list-item [packItem]="item"></app-archive-pack-list-item>
      </div>
    </div>

    <div class="mangaOrder" *ngIf="conditionMangas"> 
      <div *ngFor="let item of mangaArchiveOrderTable">
        <app-archive-manga-list-item [mangaItem]="item"></app-archive-manga-list-item>
      </div>
    </div>
    </div>
</div>

