.main {
    width:75vw;
    .tab{
        display:flex;
        justify-content: center;
        margin-bottom: 60px;
        
        p{
            margin: 20px;
            font-size: 40px;
        }
    }
    .header ul{
        display: flex;
        justify-content: space-around;

    }
    .packOrder {
        display: flex;
        justify-content: space-around;
    }
    .mangaOrder {
        display: flex;
        justify-content: space-around;
    }
    .userOrder {
        display: flex;
        justify-content: space-around;
    }
}