@import '../../../../styles.scss';

.main {
    min-height: 76vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .userName{
        text-align: center;
        font-size: 30px;
    }
    .listItem{

        .listA{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        img {
            height:150px;
            margin-right:20px;
        }
        p{
            margin:20px;
            font-size: 20px;

        }
    }
    }
}