.main {
    height: auto;
    width: 800px;
    overflow: scroll;
    display: flex;
    justify-content:center;
    box-shadow: 0 0 10px black;
    .form {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:repeat(8,100px) ; 
        grid-template-areas: 
        "formTitle . ."
        "title serie publicPrice"
        "author tome notrePrix"
        "editeur weight promo"
        "image public prixPromo"
        "description type button"
        ". genre ."
        ". . .";

        .formTitle {
            grid-area: formTitle;
            font-size: 30px;
        }

        .serie {
            grid-area: serie;
        }

        .title {
            grid-area: title;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .auteur {
            grid-area: author;
            flex-direction: column;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .editeur {
            grid-area: editeur;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .public {
            grid-area: public;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .photoCover {
            grid-area: image;
            .input {
                border:4px solid #FF8D30 ;
            }
        }
        
        .tome {
            grid-area: tome;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .public-price {
            grid-area: public;

            .input {
                border:4px solid #FF8D30 ;
            }
        }
        .resume {
            grid-area: description;
            .input {
                border:4px solid #FF8D30 ;
            }
        }
        .prixNeuf {
            grid-area: publicPrice;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .weight {
            grid-area: weight;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .create {
            grid-area: button;

        }
    }    
}
