.main {
    height: 600px;
    width: 800px;
    justify-content: center;

    .form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:repeat(8,100px) ; 
        grid-template-areas: 
        "formTitle . ."
        "title serie publicPrice"
        "author tome notrePrix"
        "editeur etat promo"
        "image public prixPromo"
        "description type stock"
        ". genre ."
        ". . button";

        .formTitle {
            grid-area: formTitle;
            font-size: 30px;
        }

        .serie {
            grid-area: serie;
        }

        .title {
            grid-area: title;
            .input {
                border-color: #FF8D30 ;
            }
        }

        .auteur {
            grid-area: author;
            flex-direction: column;
            .input {
                border-color: #FF8D30 ;
            }
        }

        .editeur {
            grid-area: editeur;
            .input {
                border-color: #FF8D30 ;
            }
        }

        .public {
            grid-area: public;
            .input {
                border-color: #FF8D30 ;
            }
        }

        .photoCover {
            grid-area: image;
            .input {
                border-color: #FF8D30 ;
            }
        }
        
        .tome {
            grid-area: tome;
            .input {
                border-color: #FF8D30 ;
            }
        }

        .public-price {
            grid-area: public;

            .input {
                border-color: #FF8D30 ;
            }
        }
        .resume {
            grid-area: description;
            .input {
                border-color: #FF8D30 ;
            }
        }

        .create {
            grid-area: button;
        }
    }    
}
