<div class="main">
  
  <h3>CREER MANGA</h3>
  
  <form [formGroup]='mangaForm' 
  (ngSubmit)='onSubmit()' 
  >

    <div class="serie">
      <div class='form-group row'>
        <label for='serie' class="col-12">
          Serie 
          <select formControlName='series_id' id='serie' required>
            <option *ngFor="let serie of series" [value]=serie.id>{{serie.nameSeries}}</option>
          </select>
        </label>  
      </div>
    </div>  
      
    <div class= "public">
      <div class='form-group row'>
        <label for='public'>
          Public
          <select formControlName='publics_id' id='public' required>
            <option *ngFor="let public of publics" [value]=public.id>{{public.name}}</option>
          </select>
        </label>
      </div>
    </div>  

    <div class="title">
      <div class='form-group row'>
        <label for='title'>
          Titre 
          <input type='text' 
          formControlName='title' 
          name='title'
          id='title'
          class='input'>
        </label>
      </div>
    </div>  

    <div class="photoCover">
      <div class='form-group row'>
        <label for='photoCover'>
          Image
          <input type='text' 
          formControlName='photoCover' 
          name='photoCover'
          id='photoCover'
          class='input'>
        </label>
      </div>
    </div>  

    <div class="tome">
      <div class='form-group row'>
        <label for='tome'>
          Tome 
          <input type='number' 
          formControlName='tome' 
          name='tome'
          id='tome'
          class='input'>
        </label>
      </div>
    </div>

    <div class="auteur">
      <div class='form-group row'>
        <label for='auteur'>
          Auteur
          <input type='text' 
          formControlName='auteur' 
          name='auteur'
          id='auteur'
          class='input'>
        </label>
      </div>
    </div>

    <div class="editeur">
      <div class='form-group row'>
        <label for='editeur'>
          Editeur
          <input type='text' 
          formControlName='editeur' 
          name='editeur'
          id='editeur'
          class='input'>
        </label>
      </div>
    </div>

    <div class="resume">
      <div class='form-group row'>
        <label for='resume'>
          Description 
          <input type='text' 
          formControlName='resume' 
          name='resume'
          id='resume'
          class='input'>
        </label>
      </div>  
    </div>

    <div class="prixNeuf">
      <div class='form-group row'>
        <label for='prixNeuf'>
          Prix Neuf 
          <input type='number' 
          formControlName='prixNeuf' 
          name='prixNeuf'
          id='prixNeuf'
          class='input'>
        </label>
      </div>   
    </div>  

    <div class="weight">
      <div class='form-group row'>
        <label for='weight'>
          Poids 
          <input type='number' 
          formControlName='weight' 
          name='weight'
          id='weight'
          class='input'>
        </label>
      </div>  
    </div>
    
    <div class="create">
      <button type="submit">CREATE</button>
    </div>  
  </form>
</div>

<div>
  <p>Supprimer un manga</p>

  <ul>
    <li *ngFor="let manga of mangas">
      {{manga.title}}
      <button class="delete" title="delete manga"
      (click)="delete(manga)">x</button>
    </li>
  </ul>

</div>