<div class="main">
  
  <form [formGroup]='mangaForm' 
  (ngSubmit)='onSubmit()' 
  class="form"
  >
    <h3 class="formTitle">CREER MANGA</h3>
    
    <div class="title" >
        <label for='title'>
          Titre : <br>
          <input type='text' 
          formControlName='title' 
          name='title'
          id='title'
          class='input'>
        </label>
    </div>  

    <div class="serie">
        <label for='serie'>
          Serie : <br>
          <select formControlName='series_id' id='serie' required>
            <option *ngFor="let serie of series" [value]=serie.id>{{serie.nameSeries}}</option>
          </select>
        </label>  
    </div>  
    
    <div class="prixNeuf">
        <label for='prixNeuf'>
          Prix Neuf : <br> 
          <input type='number' 
          formControlName='prixNeuf' 
          name='prixNeuf'
          id='prixNeuf'
          class='input'>
        </label>
    </div>  
   
    <div class="auteur">
        <label for='auteur'>
          Auteur : <br>
          <input type='text' 
          formControlName='auteur' 
          name='auteur'
          id='auteur'
          class='input'>
        </label>
    </div>
      
    <div class="tome">
        <label for='tome'>
          Tome : <br>
          <input type='number' 
          formControlName='tome' 
          name='tome'
          id='tome'
          class='input'>
        </label>
    </div>

    <div class= "public">
        <label for='public'>
          Public : <br>
          <select formControlName='publics_id' id='public' required>
            <option *ngFor="let public of publics" [value]=public.id>{{public.name}}</option>
          </select>
        </label>
    </div>  
    
    <div class="editeur">
        <label for='editeur'>
          Editeur : <br>
          <input type='text' 
          formControlName='editeur' 
          name='editeur'
          id='editeur'
          class='input'>
        </label>
    </div>

    <div class="photoCover">
        <label for='photoCover'>
          Image : <br>
          <input type='text' 
          formControlName='photoCover' 
          name='photoCover'
          id='photoCover'
          class='input'>
        </label>
    </div>  

    <div class="resume">
        <label for='resume'>
          Description : <br>
          <input type='text' 
          formControlName='resume' 
          name='resume'
          id='resume'
          class='input'>
        </label>
    </div>

    <div class="weight">  
        <label for='weight'>
          Poids : <br>
          <input type='number' 
          formControlName='weight' 
          name='weight'
          id='weight'
          class='input'>
        </label>
    </div>
    
    <div class="create">
      <button type="submit" class="button">CREATE</button>
    </div>  
  </form>
</div>

