<h3>
  Créer Série
</h3>

<form [formGroup]="postSeriesForm" (ngSubmit)="onSubmit()">
  <label>
    Titre:
    <input type="text" formControlName="nameSeries" required>
  </label>
    
  <label>
    Image:
    <input type="text" formControlName="photoCover" required>
  </label>
  
  <div>
    type:
    <select formControlName="types_id" id="types" required>
      <option [value]=type.id *ngFor="let type of types">{{type.name}}</option>

    </select>
  </div>

  <label>
    Descritption:
    <textarea formControlName="descriptionSeries" required></textarea>
  </label>

  <button type="submit" [disabled]="!postSeriesForm.valid">ENVOYER</button>
</form>
