<div class="bodyContent">
  <div class="imgBlur">
  </div>
  <div class="mangaDetails">
        <img [src]="choosenManga.photoCover">
        <div class="mangaTxt">
          <h3>{{choosenManga.title}}</h3>
          <h5>Tome {{choosenManga.tome}}</h5>
          <div class="txtRow">
            <h5>Genres :</h5><em>{{genresDisplay}}</em>
          </div>
          <div class="txtRow">
            <h5>Type :</h5><em>{{choosenType.name}}</em>
          </div>
          <div class="txtRow">
            <h5>Auteur :</h5><em>{{choosenManga.auteur}}</em>
          </div>
          <div class="txtRow">
            <h5>Editeur :</h5><em>{{choosenManga.editeur}}</em>
          </div>
          <div class="txtRow">
            <h5>Prix public :</h5><em>{{choosenManga.prixNeuf}}€</em>
          </div>
          <div class="txtRow">
            <h5>Notre Prix :</h5><em>{{prixTTC}}€</em>
          </div>
          <div class="promo" *ngIf="promo"><p>PROMO !  -{{valuePromo}}%</p></div>
          <div class="txtRow">
            <h5>Etat : </h5>
            <div class="formfield-select--container">
              <select>
                <option *ngFor="let state of states" [value]=state.id>{{state.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    <div class="mangasOptions">
      <div class="resume">
        <span>{{choosenManga.resume}}</span>
      </div>
      <div class='buttons'>
        <!-- <div class="promoPrice"><p>PRIX PROMO :</p></div> -->
        <div class="price">
          <span><del>{{prixTTC}}€</del></span>
          <p>{{prixPromo}}€</p>
        </div>
        <app-order-button *ngIf="!noStock" [mangaOrderedId]="choosenManga.id"></app-order-button>
        
        <div *ngIf="noStock" class="alertMessage">
          <app-alert-button [idManga]="choosenManga.id"></app-alert-button>
          <p>Ce manga n'est plus disponible pour le moment !</p>
        </div>
      </div>
    </div>
</div>
