<div class="contactCTN">
    <div class="banner">
        <h4>Revendez  vos  mangas</h4>
    </div>
</div>
<div class="contactBlk">
    <div>
        <h3>Pourquoi nous revendre vos mangas</h3>
        <p>Les boutiques de mangas classiques reprennent souvent vos mangas via un bon d'achat. 
            Alors que certains d'entre vous veulent vendre leur manga pour avoir de l'argent. C'est pour cela que nous avons ouvert 
            ce service de rachat de manga d'occasion.

            Pas de bon d'achat et pas de mauvaise surprise, vous nous envoyez une liste des mangas dont 
            vous voulez vous séparer. Compte tenu de notre stock, nous réalisons un devis pour le rachat de vos mangas. 
            A l'heure actuelle, nous ne rachetons que les mangas en version française et en parfait état.
            
            Les frais de port à votre charge étant élevés, les demandes de rachat doivent concerner 
            au moins 20 mangas. Dans le cas contraire, notre proposition de rachat couvrira à peine les frais d'envoi.</p>
    </div>
    <div>
        <h3>Notre offre</h3>
        <p> <strong> De 0.5 € à 1.25 € l'unité pour les mangas venant de collections incomplètes.</strong>
                Ce service de revente est très utile si vous n'avez pas réussi à regrouper l'intégrale de la collection d'un manga.
                Idéal si vous désirez vendre vos mangas à l'unité comme par exemple : Kyo T1, Naruto T3, Bleach T3, etc…
        </p>
        <br>
        <p>
            <strong> De 0,8 € à 1.75 € l'unité pour les mangas venant de suite. </strong>
            Vous avez acheté les 10 premiers volumes d'une collection de mangas qui ne vous plait pas ? Nous vous la reprenons
        </p>
        <br>
        <p>
             <strong>  De 1,25 € à 2 € l'unité pour les mangas provenant de collections complètes.</strong>
            Si vous désirez revendre une intégrale de mangas (collection complète), le prix varie selon les séries.
        </p>
    </div>
</div>

<div>
    <div class="title">
        <h3>Proposez nous vos mangas d'occasions</h3>
        <p>Remplissez le formulaire ci-dessous pour nous proposer vos mangas :)</p> <br>
    </div>
    <div class="form">
        <form>
            <label> Votre Nom : <br>
                <input type="text">
            </label>
            <label> Votre Prénom : <br>
                <input type="text">
            </label>
            <label> Votre adresse e-mail : <br>
                <input type="text">
            </label>
            <label> Votre liste de mangas : <br>
                <textarea  rows="7" cols="55" type="text" placeholder="En précisant l'état de vos mangas et le nombre total de manga."></textarea>
            </label>
            <br>
            <button type="submit">Envoyer</button>
            
        </form>

        <img src="../../../../assets/img/kawai.png" class="kawai">

    </div>
</div>
