<div id="main"> 
  <div class="topContainer">

    <app-create-state></app-create-state>
    <app-search-manga-bar (chosenManga)="getTheChosenManga($event)"></app-search-manga-bar>


  </div>

  <form 
    #formStock
    class="cardManga"
    [formGroup]="stockForm"
    (ngSubmit)="onSubmit()"
    *ngIf="mangaTitle"
  >
    <div class="titleManga">{{mangaTitle[0].title}}</div>
    <div class="tomeManga">Tome : {{mangaTitle[0].tome}}</div>
    <img [src]="mangaTitle[0].photoCover" class="imgManga">
    



    <p class="titleForm">Stock/Prix/Etat</p>

      <div class= "state">
        <label for='state'>
          État : <br>
          <select formControlName='states_id' id='state' required>
            <option *ngFor="let state of states" [value]=state.id>{{state.name}}</option>
          </select>
        </label>
        <div *ngIf="stockForm.get('states_id').errors && stockForm.get('states_id').touched">
          <span class='errorMessage'>Champ requis</span>
        </div>
      </div> 

      <div class= "commentaire">
        <label for="commentaire">
          Commentaire
          <textarea 
          id="commentaire" 
          type="text"
          name="commentaire"
          class="input"
          formControlName="commentaire">
        </textarea>
        </label>
      </div>

      <div class= "stock">
        <label for="stock">
          Stock
          <input 
          id="stock" 
          type="number"
          name="stock"
          class="input"
          formControlName="stock">
        </label>
        <div *ngIf="stockForm.get('stock').errors && stockForm.get('stock').touched">
          <span class='errorMessage'>Champ requis</span>
        </div>
      </div>

      <div class= "promo">
        <label for="promo">
          Promotion :
          <select formControlName='promo' id='promo' (change)='applyPromo()' required>
            <option *ngFor="let item of promoTable; let i = index" [value]="item.name">{{ item.name }}</option>
          </select>
        </label>
        <div *ngIf="stockForm.get('promo').errors && stockForm.get('promo').touched">
          <span class='errorMessage'>Indiquez si vous souhaitez appliquer une promotion</span>
        </div>
      </div>

      <div class="promoCheck">
        <div *ngIf="promoCheck">
          <label for="promoValue">
            Montant de la Promotion :
            <input 
            id="promoValue"
            type="number"
            name="promoValue"
            class="input"
            formControlName="promoValue">
          </label>
          <a (click)='getPromoPrice()'> <br>Obtenir le prix TTC</a>
        </div>
      </div>  

      <div class= "prixHT">
        <label for="prixHT">
          Prix HT
          <input 
          id="prixHT" 
          type="number"
          name="prixHT"
          class="input"
          formControlName="prixHT">
        </label>
        <div *ngIf="stockForm.get('prixHT').errors && stockForm.get('prixHT').touched">
          <span class='errorMessage'>Champ requis</span>
        </div>
      </div>

      <div class= "TVA">
        <label for="TVA">
          TVA
          <input 
          id="TVA" 
          type="number"
          name="TVA"
          class="input"
          formControlName="TVA"
          >
        </label>
        <a (click)='getPrice()'> <br>Obtenir le prix TTC</a>
      </div>

      <div class= "prixTTC">
        <label for="prixTTC">
          Prix TTC
          <input 
          id="PrixTTC" 
          type="number"
          name="PrixTTC"
          class="input"
          formControlName="prixTTC">
        </label>
      </div>

      <button type="submit" [disabled]="!stockForm.valid" class= "button">CRÉER MANGA</button>
  </form>
</div>



