<div id="main"> 
 <div>

    <app-create-state></app-create-state>

  </div>

  <div>

    <app-search-manga-bar (chosenManga)="getTheChosenManga($event)"></app-search-manga-bar>

  </div>

  <div *ngIf="mangaTitle">

    <div>{{mangaTitle[0].title}}</div>
    <div>{{mangaTitle[0].tome}}</div>
    <img [src]="mangaTitle[0].photoCover">


    <form [formGroup]="stockForm"
    (ngSubmit)="onSubmit()"
    #formStock
    >

    <p>Stock/Prix/Etat</p>

      <div class= "state">
        <label for='state'>
          État : <br>
          <select formControlName='states_id' id='state' required>
            <option *ngFor="let state of states" [value]=state.id>{{state.name}}</option>
          </select>
        </label>
        <div *ngIf="stockForm.get('states_id').errors && stockForm.get('states_id').touched">
          <span class='errorMessage'>Champ requis</span>
        </div>
      </div> 

      <div>
        <label for="commentaire">
          Commentaire
          <input 
          id="commentaire" 
          type="text"
          name="commentaire"
          class="input"
          formControlName="commentaire">
        </label>
      </div>

      <div>
        <label for="stock">
          Stock
          <input 
          id="stock" 
          type="number"
          name="stock"
          class="input"
          formControlName="stock">
        </label>
        <div *ngIf="stockForm.get('stock').errors && stockForm.get('stock').touched">
          <span class='errorMessage'>Champ requis</span>
        </div>
      </div>

      <div>
        <label for="promo">
          Promotion :
          <select formControlName='promo' id='promo' (change)='applyPromo()' required>
            <option *ngFor="let item of promoTable; let i = index" [value]="item.name">{{ item.name }}</option>
          </select>
        </label>
        <div *ngIf="stockForm.get('promo').errors && stockForm.get('promo').touched">
          <span class='errorMessage'>Indiquez si vous souhaitez appliquer une promotion</span>
        </div>
      </div>

      <div *ngIf="promoCheck">
        <label for="promoValue">
          Montant de la Promotion :
          <input 
          id="promoValue"
          type="number"
          name="promoValue"
          class="input"
          formControlName="promoValue">
        </label>
      </div>

      <div>
        <label for="prixHT">
          Prix HT
          <input 
          id="prixHT" 
          type="number"
          name="prixHT"
          class="input"
          formControlName="prixHT">
        </label>
        <div *ngIf="stockForm.get('prixHT').errors && stockForm.get('prixHT').touched">
          <span class='errorMessage'>Champ requis</span>
        </div>
      </div>

      <div>
        <label for="TVA">
          TVA
          <input 
          id="TVA" 
          type="number"
          name="TVA"
          class="input"
          formControlName="TVA"
          >
        </label>
        <a (click)='getPrice()'>Obtenir le prix TTC</a>
      </div>

      <div>
        <label for="PrixTTC">
          Prix TTC
          <input 
          id="PrixTTC" 
          type="number"
          name="PrixTTC"
          class="input"
          formControlName="prixTTC">
        </label>
      </div>

      <button type="submit" [disabled]="!stockForm.valid">CRÉER MANGA</button>
    </form>

  </div>
</div>



