#main{
    height: 80vh;
    width: 75vw;
    overflow: scroll;

    .topContainer{
        display: flex;
        justify-content: space-around;
    }
    
    .cardManga{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        //grid-template-rows:repeat(15,100px) ; 
        grid-template-rows: repeat(6,100px);
        grid-template-areas: 
        " titleForm . titleManga "
        " state promoCheck tomeManga "
        " prixHT stock imgManga "
        " prixTTC TVA imgManga "
        " commentaire promo imgManga "
        ". button . ";
    
        .titleManga {
            grid-area: titleManga;
            font-size:30px;
            text-align: center;
        }

        .tomeManga{
            grid-area: tomeManga;
            text-align: center;
        }

        .imgManga{
            grid-area: imgManga;
            height: 300px;
            margin:0 auto;

        }

        .titleForm {
            grid-area: titleForm;
            font-size: 30px;
            
        }

        .state {
            grid-area: state;
        }

        .commentaire {
            grid-area: commentaire;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .stock {
            grid-area: stock;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .promo {
            grid-area: promo;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .promoCheck {
            grid-area: promoCheck;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .prixHT {
            grid-area: prixHT;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .TVA {
            grid-area: TVA;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .prixTTC {
            grid-area: prixTTC;
            .input {
                border:4px solid #FF8D30 ;
            }
        }

        .button {
            grid-area: button;
            text-align: center;
            background-color:#FF8D30 ;
            
        }
    }
    
    .errorMessage {
        color: #FF8D30;
        font-size: 16px;
    }
}