@import '../../../common/styles/back-office.scss';

h2 {
    text-align: center;
    margin-top:10vh;
    margin-bottom: 10vh;
    color: #ff7b01;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    letter-spacing: .1rem;
}

form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;

    .field {
        margin-bottom: 3vh;
        display: flex;
        flex-direction: column;
    
        input {
            border-radius: 5px;
            -webkit-appearance: none;
            border: solid 2px $orangeLight;
            width: 400px; height: 45px;
        }
        input:focus {
            outline:none;
        }
    }

    button {
        @include validateButtonStyle;
        margin-top: 10px;
        -webkit-appearance: none;
        width: 170px;
        height: 40px;
        background-color: $orange;
        border: 0;
        border-radius: 30px;
        color: white;
        font-weight: 700;
        outline: none !important;
        border: none;

        & :hover {
            box-shadow: 4px 4px 0px black;
            cursor: pointer;

        } & :focus {
            -webkit-appearance: none;
            outline:none !important;
        } 
    }

    
}