@import '../../../../styles.scss';

.main{
    background-color: rgba(white,0.6); 
    border: 3px solid white; 
    color: black;
    display: flex;
    margin: 15px;
    padding: 20px;
    width:300px;
    height: 100px;
    align-items: center;
}