<div class="main">
  <form [formGroup]="createPackForm" (ngSubmit)="onSubmit()">

      <label>
          Nom :
          <input type="text" formControlName="namePack">
      </label>
      
      <label>
          Image :
          <input type="text" formControlName="photoPack">
      </label>

      <label>
          Résumé :
          <textarea formControlName="resumePack"></textarea>
      </label>
      
      <div>
          Stock : 
          <select formControlName="stock" id="stock" >
              <option [value]=1>1</option>
              <option [value]=2>2</option>
              <option [value]=3>3</option>
          </select>
      </div>

      <label>
          Poids :
          <input type="number" formControlName="weight">
      </label>

      <label>
          Prix Public :
          <input type="number" formControlName="prixPublic">
      </label>

      <div>
          Promotion :
          <select formControlName="promo" id="promo">
              <option [value]=0>Non</option>
              <option [value]=1>Oui</option>
          </select>
      </div>

        <div *ngIf="createPackForm.value.promo == 1">  
            <label>
                Prix Promotion :
                <input type="number" formControlName="prixPromo">
            </label>
        </div>

    <div>
        <label>
            Etat :
            <select formControlName='statesPack_id' id='statesPack' required>
                <option *ngFor="let statesPack of states" [value]=statesPack.id>{{statesPack.name}}</option>
            </select>
        </label>    
    </div>

    <label>
        Notre Prix :
        <input type="number" formControlName="notrePrix">
    </label>
  
    <label>
        Tomes :
        <input type="number" formControlName="tomes">
    </label>


          
    <button type="submit">Submit</button>

  </form>

  <br><br><hr>

<form [formGroup]="createMangasPackForm" (ngSubmit)="onSubmitMangaPack()">
  <div>
    <div>
        <label>
            <h2>Pack sélectionné :</h2>
            <select formControlName='packs_id' id='packs_id' required>
                <option *ngFor="let pack of packs" [value]=pack.id>{{pack.namePack}}</option>
            </select>
        </label>    
    </div>

  </div>

  <div>
      <h2>Ajoutez des mangas au pack :</h2>
  </div>

  <app-search-manga-bar (chosenManga)="getChosenManga($event)"></app-search-manga-bar>


    <div *ngIf="chosenManga">
        <ul *ngFor="let manga of chosenManga">
            <li>
                <p>{{manga.title}}</p>
            </li>
            <li>
                <img src={{manga.photoCover}}>
            </li>
        </ul>
    </div>

    <button type="submit">Submit</button>

</form>

</div>

