<div class="cgvCtn">
  <h2>Conditions générales</h2>
  <p>Conditions Générales de Vente mises à jour le 12 février 2015.<br>
    Vous pouvez nous contacter directement depuis le site par le 
    formulaire de contact que vous trouverez en cliquant ci-contre :
    <a [routerLink]="['../contact']">Formulaire de contact</a></p>
  <h3>Article 1 - Généralités</h3>
  <p>Les Conditions Générales de Vente ont pour objet de définir les 
    conditions générales de vente de Spiritofmanga.com (ou spiritofmanga.fr). 
    Elles présentent les droits et obligations des Clients, et constituent le Contrat 
    qui les lie à la société COPY Corporation SARL.

    Spiritofmanga.com (ou spiritofmanga.fr) est un site internet appartenant à 
    la société COPY Corporation SARL, inscrite au RCS de Meaux sous le n°537 666 042 000, 
    dont le siège social est situé 2 rue Léon Jouhaux 77470 Trilport.
    
    Les présentes Conditions Générales de Vente (ci-après les « CGV ») s'appliquent de façon 
    exclusive aux commandes conclues par tout acheteur majeur (ci-après le « Client » ou « Vous ») 
    ayant procédé à l'ouverture d'un compte personnel à partir de la boutique en ligne Spiritofmanga.com 
    ou Spiritofmanga.fr (dénommée ci-après le « Site »).
    
    Les présentes Conditions Générales de Vente régissent ainsi exclusivement 
    les ventes de tout Article d'occasion, disponible à l'achat sur le Site, et notamment 
    des livres (ci-après désignés individuellement l' « Article » ou collectivement les « Articles »). 
    Elles précisent notamment les conditions de commande, de paiement, de livraison et de gestion des 
    éventuels retours des Articles commandés par les Clients.
    
    Pour utiliser le Site, le Client doit accepter de se soumettre aux présentes Conditions Générales 
    de Vente sans restriction ni réserve. Cette acceptation se matérialise par un clic de validation 
    lors de son inscription sur le Site.
    
    Ces Conditions Générales de Vente pouvant faire l'objet de modifications, lesdites modifications 
    n'auront pas d'effet sur les commandes qui auront été passés avant la publication sur le Site Internet 
    des conditions modifiées et seront celles en vigueur à la date de passation de la commande.<br> <br>
    
    Pour toutes questions ou commentaires sur les conditions, annulations, retours ou remboursements, <br>
    veuillez contacter le Service Relation Clients depuis le Site via le formulaire « Contact » ou à 
    l'adresse : contact@spiritofmanga.com.<br>
    <br>
    Vous pouvez également contacter :<br>
    
    COPY Corporation SARL<br>
    Service Relation Clients<br>
    2, rue Léon Jouhaux<br>
    77470 Trilport<br>
    Téléphone : 0610806187 <br> du lundi au vendredi de 9h00 à 18h00</p>

  <h3>Article 2 - Description générale du Site et des Articles</h3>
  <p>2.1 Utilisation du site
      Le Site a pour fonction de Vous assister dans la recherche d'Articles et de Vous permettre d'acheter 
      les Articles de votre choix. Seules les personnes juridiquement responsables et ayant 18 ans révolus au moment 
      de la passation de la commande, peuvent commander sur le Site Internet www.spiritofmanga.com

      Une utilisation du Site qui serait frauduleuse, suite à un mésusage ou qui contreviendrait aux présentes CGV, 
      justifiera que Vous soit refusé temporairement ou définitivement et à tout moment, l'accès aux Articles 
      proposés et aux autres fonctionnalités du Site.<br>
      
      2.2 Compte personnel
      
      Pour procéder à une transaction, Vous devez Vous connecter sur votre compte personnel avec votre identifiant 
      (pseudo) et votre mot de passe créés lors de l'ouverture de votre compte. Lors d'une première connexion, 
      Vous devez créer un compte personnel en fournissant diverses informations nécessaires à votre identification et 
      au traitement de votre commande (notamment votre adresse électronique personnelle et un mot de passe). 
      Vous Vous engagez à les conserver et à ne pas les divulguer à aucun tiers.
      Sauf cas de fraude (dont il Vous appartient de rapporter la preuve), Vous êtes seul responsable de vos 
      démarches sur le Site, notamment de l'utilisation qui sera faite de votre identifiant et de votre mot de passe. 
      Vous garantissez également la véracité et l'exactitude des informations Vous concernant fournies sur le Site. 
      L'ensemble des informations collectées est traité par COPY Corporation SARL conformément aux dispositions de l'article 12 des présentes CGV. <br>
      
      2.3 Description des Articles
      
      Avant de commander un Article et conformément à l'article L 111-1 du Code de la consommation, le Site 
      présente les caractéristiques des Articles proposés à la vente. Sont décrit, en particulier : le genre, 
      le type, l'auteur, l'éditeur, le prix public, notre prix et l'illustration de l'Article sélectionné.
      Par ailleurs, le Client a toujours la possibilité de contacter le Service Relation Clients depuis 
      le Site via le formulaire « Contact » ou à l'adresse contact@spiritofmanga.com.</p>

  <h3>Article 3 - Commande</h3>
  <p>3.1 Accès au Site et Sélection des Articles
      Le seul accès au Site est libre, totalement gratuit (en dehors des frais de connexion à Internet 
      qui Vous sont facturés par votre fournisseur d'accès à Internet) et sans obligation d'achat.
      La sélection des Articles se fait sur le Site à travers les pages du catalogue et l'interface de 
      vente qui Vous est accessible. Lorsque Vous désirez acheter un Article, il Vous suffit de cliquer 
      sur « Ajouter au Panier » dans la page de description individuelle de l'Article si celui-ci est disponible. 
      A tout moment, Vous pouvez accéder à votre Panier et en modifier le contenu, en cliquant sur l'icône 
      correspondante figurant en haut à gauche de votre écran.<br>
      
      Tous les Articles sont proposés dans la limite des stocks disponibles et sous réserve de disponibilité. 
      Pour tout Article commandé non disponible, le Service Relation Clients s'engage à Vous contacter par e-mail 
      ou téléphone dans les plus brefs délais pour Vous informer de leur non disponibilité. Dans l'hypothèse où un 
      Article ne serait pas disponible, le Client pourra alors décider de maintenir la commande pour un montant 
      plus faible avec un remboursement de l'Article manquant ou de demander l'annulation de la commande.<br>
      
      3.2 Passer une commande
      Pour valider une commande, Vous devez accéder à votre Panier. Vous pouvez alors visualiser l'ensemble 
      des Articles que Vous avez sélectionnés. Vous pouvez à ce stade modifier les Articles commandés, voire annuler votre commande.
      Vous pouvez ensuite bénéficier de vos éventuels avantages Client, en indiquant votre code réduction.
      Lorsque Vous êtes prêt à commander, il Vous suffit de cliquer sur le bouton « Etape suivante ».<br>
      
      
      3.3 Mode de paiement - Confirmation de la commande
      Un mode de paiement doit être sélectionné et la commande est irrévocablement et définitivement 
      validée par le Client en cliquant sur le bouton « Terminer ». La transaction est alors enregistrée.
      Un courrier électronique récapitulatif de la commande (indiquant notamment les Articles commandés, le montant 
      total facturé et les frais de livraison inclus) est envoyé à l'adresse électronique indiquée lors de la 
      création de votre compte. La commande sera validée par la confirmation du paiement du Client.
      A partir du moment où le Client a enregistré sa commande en cliquant sur l'icône « Terminer », il 
      est considéré comme ayant accepté en connaissance de cause, sans restriction et sans réserve les 
      présentes CGV, les prix, la quantité et les Articles proposés à la vente et commandés.<br>
      
      3.4 Suivi de la commande
      Vous pouvez suivre la préparation de la commande en sélectionnant « Mes commandes ».
      Un courrier électronique est également envoyé à chaque étape de la commande : notamment 
      lors de la réception du paiement, la préparation du colis et l'expédition de la commande.
      Lors de l'expédition de la commande, un numéro de suivi du transporteur Vous est fourni afin 
      de suivre l'acheminement de la commande.<br>
      
      3.5 Rejet de la commande
      COPY Corporation SARL se réserve le droit d'annuler ou de refuser toute commande d'un Client 
      avec lequel il existerait un litige relatif au paiement d'une commande antérieure.<br>
      
      3.6 Annulation d'une commande
      Pour toute question relative à l'annulation d'une commande Vous pouvez contacter le Service 
      Relation Clients depuis le Site via le formulaire « Contact » ou à l'adresse contact@spiritofmanga.com.
      Si le paiement de la commande a été effectué et que la commande n'a pas encore été confiée au transporteur, 
      le Client sera remboursé dans un délai de quatorze jours (14 jours) suivant la réception de la demande d'annulation.
      Si la commande a été confiée au transporteur, les dispositions de l'article 7 concernant 
      le droit de rétractation s'appliqueront.</p>

  <h3>Article 4 - Prix</h3>
  <p>4.1 Pour chaque Article, le catalogue indique notre prix applicable audit Article(s). Lorsque Vous commandez un Article, 
    Vous Vous engagez à acheter ledit Article au prix affiché.
      Les prix de vente des Articles affichés sur le Site sont exprimés en Euros, toutes taxes comprises et hors frais de livraison.
      Le prix affiché concerne des Articles d'occasions et s'exprime selon une décote en pourcentage par rapport au prix public.
      Les prix affichés sont modifiables à tout moment et sans préavis, avant la confirmation de la commande. Les Articles seront 
      donc facturés sur le prix en vigueur au moment de la confirmation de la commande, et de son enregistrement par COPY Corporation SARL.<br>
      
      4.2 Les frais de livraison sont à la charge du Client et sont facturés en supplément du prix de vente des Articles. 
      Les frais de livraison sont variables en fonction du poids des colis à livrer et du montant total de la commande.
      Le Client sera toujours informé avant l'enregistrement définitif de sa commande des frais de livraison liés à sa commande, 
      et le paiement sera demandé au Client pour le montant total de l'achat, intégrant les prix des Articles commandés majorés des 
      frais de livraison. Ainsi, la confirmation d'accord de paiement de la commande par le Client implique que ce dernier accepte 
      de payer les frais de livraison afférents. Les frais de livraison ne peuvent donc constituer une raison valable de remise en 
      cause de la commande après son enregistrement définitif.<br>
      
      4.3 Toutes les commandes, quelle que soit leur provenance, sont facturées et payables en Euros (€) uniquement.
      4.4 En cas de commande hors France métropolitaine, des droits de douanes ou autres taxes locales (TVA locale, taxe douanière, droit d'importation, etc.) sont susceptibles 
      d'être exigibles. Ces droits de douane et ces taxes éventuels liés à la livraison d'un Article sont à la charge exclusive du Client et relèvent de son entière responsabilité 
      tant en termes de déclaration que de paiement aux autorités et organismes compétents. COPY Corporation SARL n'est pas tenu de vérifier et d'informer le Client de ses droits de 
      douane et taxes applicables et lui conseille de se renseigner sur ces aspects auprès des autorités locales.
      4.5 Les codes réduction valables sur le Site ne sont pas cumulables sur une même commande ni transférables à
      d'autres personnes que le bénéficiaire direct.</p>

  <h3>Article 5 - Paiement</h3>
  <p>5.1 Le paiement des Articles commandés dû en entier doit se faire avant toute livraison par virement, par chèque bancaire, de façon dématérialisée via la plateforme de paiement sécurisée PayPal ou par carte bancaire via cette même plateforme. Afin de toujours Vous garantir le meilleur niveau de sécurité, COPY Corporation SARL ne Vous demandera jamais vos coordonnées bancaires.<br>
      5.2 Avant de cliquer sur le bouton « Terminer » lors de la validation de la commande, Vous garantissez que Vous êtes pleinement habilité à utiliser lesdits modes de paiement qui présentent votre solvabilité nécessaire au paiement de la commande.<br>
      5.3 La préparation de la commande suppose que le paiement ait été réceptionné. Dans le cas d'un paiement par virement ou par chèque, toute commande n'ayant pas été réglée dans une période de 4 semaines sera systématiquement supprimée.<br>
      5.4 Après préparation de la commande, une facture émise par COPY Corporation SARL faisant état de bon de livraison et récapitulant le détail de la transaction, est transmise au Client par voie électronique (lorsque l'adresse de livraison est différente de l'adresse de facturation) ou insérée dans le colis. Le Client peut obtenir un duplicata électronique ou papier de sa facture sur simple demande.<br>
      5.5 En cas de défaut de paiement, notamment en raison du refus de la banque d'honorer la transaction ou en raison d'une opposition effectuée par le Client sur la transaction, et ce, avant ou après la conclusion de la transaction, COPY Corporation SARL pourra résilier la vente de plein droit sans avis ni délai et pourra, le cas échéant, exiger du Client la restitution des Articles à ses frais.<br>
      5.6 COPY Corporation SARL se réserve notamment le droit de refuser d'effectuer une livraison ou d'honorer une commande émanant d'un Client qui n'aurait pas réglé totalement ou partiellement une commande précédente 
      ou avec lequel un litige de paiement serait en cours d'administration, notamment si le Client n'a pas effectué son règlement par chèque bancaire ou 
      virement bancaire sous 4 semaines après la passation de commande.</p>

  <h3>Article 6 - Livraison</h3>
  <p>
      6.1 Les Articles sont livrés à l'adresse de livraison indiquée par le Client lors de la validation de la commande. L'adresse de livraison peut être différente de l'adresse de facturation. Le Client s'engage, pour lui-même ou pour le destinataire de la commande, à prendre livraison des Articles à l'adresse indiquée.
      Lors de la livraison, le Client ou le destinataire des produits, doit pouvoir, si cela lui est demandé, faire la preuve de son identité. L'impossibilité de livrer le Client de son fait (non retrait de colis après avis de passage, conditions d'accès particulières omises lors de la prise de commande, …) entraîne pour celui-ci la perte de la participation aux frais d'envoi. Les frais de retour sont également déduits du remboursement de l'Article. Si le Client souhaite une nouvelle livraison, la participation aux frais de livraison devra de nouveau être payée par le Client au préalable.
      <br>6.2 En cas de problème : bande de garantie (ruban adhésif) endommagée, colis fracturé, Vous pourrez refuser le colis dans son ensemble et dans son emballage d'origine auprès du transporteur si celui-ci lui est remis par le livreur ou auprès d'un bureau de La Poste (dans le cas d'une livraison directe dans la boîte aux lettres). Suite au refus de la livraison, le Client doit informer le Service Relation Clients dès que possible depuis le Site via le formulaire « Contact » ou à l'adresse : contact@spiritofmanga.com
      Le simple fait d'accepter le colis en l'état ne pourra donner lieu à réclamation suite à un problème de livraison.
      <br>6.3 COPY Corporation SARL peut, à sa seule discrétion, décider d'effectuer une livraison en plusieurs colis. Dans ce cas, les frais de livraison supplémentaires ne seront pas facturés au Client.
      <br>6.4 Les frais de livraison sont toujours à la charge du Client et sont fixés selon un barème affiché sur le Site à l'onglet « Frais de port » pour la France Métropolitaine (nous consulter pour toute autre destination). Ils sont susceptibles d'être révisés annuellement. En tout état de cause, le montant des frais de livraison sera celui indiqué sur la confirmation de commande.
      <br>6.5 La livraison des colis se fait par Colissimo ou Lettre Max dans un délai de 3 à 4 jours ouvrés pour la France Métropolitaine. Pour la livraison en Colissimo et en cas d'absence, Vous disposez d'un délai de quinze jours (15 jours) pour retirer votre colis au bureau de poste. En cas de non livraison d'une commande dont le Client a reçu l'avis d'expédition de la part de COPY Corporation SARL, celui-ci dispose de quatorze jours (14 jours) pour nous le signaler. Passé ce délai, COPY Corporation SARL ne sera pas en mesure de retracer l'expédition et de procéder à son indemnisation le cas échéant.
      <br>6.6 Le délai d'expédition entre la passation de la commande et la livraison des Articles est de sept jours (7 jours) ouvrés. Le délai d'expédition commence le premier jour ouvré suivant le paiement de la commande (hors week-end et jours fériés).
      <br>6.7 En cas de dépassement du délai d'expédition (hors cas de force majeur), COPY Corporation SARL s'engage à en informer le Client dès que possible et par tout moyen afin que celui-ci puisse alors choisir du maintien ou de l'annulation totale ou partielle de sa commande. COPY Corporation SARL ne peut être tenu pour responsable du retard de livraison dû à un cas de force majeur ou à l'absence du Client lors de la présentation du colis à son adresse de destination. Un retard de livraison ou une inexécution du contrat ne peuvent en aucun cas avoir pour conséquence le versement de dommages et intérêts au profit du Client ou des prestataires de service de celui-ci.
  </p>

  <h3>Article 7 - Clause de rétractation</h3>
  <p>
      7.1 Sans avoir à justifier sa décision, et conformément aux dispositions de l'article L121-21 du code de la consommation, le Client dispose d'un délai légal de rétraction de quatorze jours (14 jours) à compter de la date de réception de sa commande. En cas de livraison en plusieurs colis, le délai légal court à compter de la réception du dernier colis. Lorsque le délai légal expire un samedi, un dimanche ou un jour férié, il est prorogé jusqu'au premier jour ouvrable suivant.
      <br>7.2 L'exercice de ce droit se fera par écrit (email ou courrier), dénuée d'ambiguïté, envoyé à l'adresse ou email indiqué à l'article 1, avant expiration du délai légal (cachet de La Poste faisant foi pour l'envoi par courrier).
      <br>7.3 Le Client renvoi ou restitue les Articles accompagnés d'une copie de la facture d'achat, sans retard excessif et, au plus tard, dans les quatorze jours (14 jours) suivant la communication de sa décision de se rétracter.
      <br>7.4 COPY Corporation SARL s'engage à rembourser le Client, dans les plus brefs délais, au plus tard sous quatorze jours (14 jours) à compter de la réception des Articles retournés dans leurs emballages d'origine ou de la preuve de l'expédition des Articles retournés.
      Dans ce cadre, le montant remboursable correspond aux Articles retournés et à leurs frais d'expédition. Toutefois, si un mode de livraison plus coûteux que le mode de livraison standard avait été choisi pour le retour des Articles, c'est le mode de livraison standard qui sera remboursé, conformément à l'article L121-21-4 du code de la consommation.
      <br>7.5 Votre droit légal de rétraction ne pourra s'appliquer si Vous n'avez pas pris les mesures appropriées nécessaires pour garantir que Vous êtes en mesure de retourner les Articles dans le même état que son état d'origine (conditionnement d'origine inclus). Nous Vous recommandons toujours de prendre les mesures appropriées et raisonnables nécessaires pour préserver l'état du produit, et de Vous assurer que nous avons bien réceptionné le produit retourné.
      <br> 7.6 Le droit légal de rétractation ne s'applique pas aux Articles sous film thermo-soudé ayant été ouverts.
  </p>

  <h3>Article 8 - Articles défectueux et/ou abimés</h3>
  <p> 
      <br> 8.1 Outre votre droit légal de rétractation de la commande énoncé à l'article 7, Vous disposez d'un recours lorsque Vous estimez qu'un Article a été endommagé lors de son expédition ou présente un défaut présumé. Dans ce cas, Vous devez contacter le Service Relation Clients dans un délai maximum de 72 heures par écrit depuis le Site via le formulaire « Contact » ou à l'adresse : contact@spiritofmanga.com
      Passé ce délai, aucune réclamation ne pourra se faire prévaloir en tant qu'Articles défectueux et/ou abimés.
  </p>

  <h3>Article 9 - Transfert de propriété</h3>
  <p>
      <br> 9.1 Les Articles demeurent la propriété de COPY Corporation SARL jusqu'au paiement complet du prix, quelle que soit la date de livraison du produit.
  </p>

  <h3>Article 10 - Garantie et service après-vente des Articles</h3>
  <p>
      <br>10.1 Conformément aux dispositions légales en vigueur relatives à la conformité du bien au contrat ou aux vices cachés, les Articles défectueux (sans que cela ne soit du fait du Client) ou ne correspondant pas à la commande seront remboursés ou échangés au choix du Client.
      <br>10.2 Les Articles concernés doivent être retournés à COPY Corporation SARL dans l'état dans lequel ils ont été reçus et dans leurs emballages d'origine avec le bon de retour transmis par le Service Relation Clients.
  </p>

  <h3>Article 11 - Limitation de responsabilité</h3>
  <p>
      Les Articles proposés sont conformes à la législation française en vigueur.
      <br>11.1 COPY Corporation SARL ne saurait être tenu pour responsable de l'inexécution du contrat conclu au cas où l'inexécution de ses obligations serait imputable soit au fait imprévisible et insurmontable d'un tiers au contrat soit à un cas de force majeure ou d'un cas fortuit, du fait du Client ou du fait d'un tiers ou de causes extérieures telles que les conflits sociaux, intervention des autorités civiles ou militaires, catastrophes naturelles, incendies, dégâts des eaux.
      <br>11.2 En particulier, COPY Corporation SARL ne saurait être tenu pour responsable des dommages occasionnés par un usage des Articles non conformes à leur destination de produits culturels, ou par un non-respect de votre part des précautions minimales d'usage des Articles.
      <br>11.3 De même, la responsabilité du COPY Corporation SARL ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet, notamment une rupture de service, interruption du réseau de télécommunications ou du réseau électrique dont elle ne serait pas à l'origine.
      <br>11.4 Il est expressément prévu que les photographies présentant les Articles à l'appui du texte de l'offre n'entrent pas dans le champ contractuel. En cas d'erreur de votre part sur la nature de l'Article acheté pourtant conforme au texte de l'offre, la responsabilité de COPY Corporation SARL ne pourra être engagée.
      <br>11.5 Toute responsabilité de COPY Corporation SARL pour toute sorte de dommage direct ou indirect découlant de l'inexécution ou de la mauvaise exécution de la vente d'un Article ne pourra en aucun cas dépasser un montant égal au prix de l'Article vendu.
      Le présent article ne s'applique pas aux Clients qui, à raison de leur qualité, peuvent se prévaloir des dispositions de l'article L 132-1 du Code de la consommation.
  </p>

  <h3>Article 12 - Informatique et Libertés</h3>
  <p>
      COPY Corporation SARL accorde une grande importance à la confidentialité des données personnelles. Les règles, détaillées ci-dessous, s'appliquent à l'ensemble des services accordés sur le Site, et notamment à la commande d'Articles.
      <br>12.1 Traitement de données à caractère personnel
      Conformément à l'article 32 de la Loi n°78-17 « Informatique et Libertés » du 6 janvier 1978 modifiée par la Loi 2004-801 « Protection des personnes physiques à l'égard des traitements de données à caractère personnel » du 6 août 2004, les informations indispensables que le Client communique sur le Site permettant à COPY Corporation SARL de traiter et exécuter les commandes ; sont signalées par un astérisque (*).
      COPY Corporation SARL est susceptible d'adresser au Client, par tous les moyens, notamment par courrier ou courriel, des informations permettant de mieux connaître les utilisateurs, de mieux utiliser le Site, de lui faire bénéficier d'offres promotionnelles diffusées sur le Site et/ou d'améliorer le Site, dans le strict respect des dispositions de la Loi n°2004-801 et de la Loi n°78-17 modifiée, sous réserve de son consentement préalable, selon les cas visés dans les présentes CGV.
      L'ensemble des informations ainsi collectées par COPY Corporation SARL fait l'objet d'une déclaration auprès de la Commission de l'Informatique et des Libertés sous le numéro d'agrément 1546382v0.
      Conformément à cette déclaration, la durée du traitement des données est de dix années (10 années).
      COPY Corporation SARL s'engage dans ce cadre à se conformer aux législations françaises et européennes sur la protection des données à caractère personnel, et à assurer un niveau de protection adéquat aux traitements opérés.
      
      <br>12.2 Droit d'opposition, d'accès, de modification, de rectification et de suppression
      L'ensemble des informations nominatives collectées du Client sont consultables dans la rubrique « Mon profil » et « Mes adresses ».
      Conformément aux articles 39 et suivants de la Loi n°2004-801 et de la Loi n°78-17 modifiée, Vous disposez d'un droit d'opposition, d'accès, de modification, de rectification et de suppression des données personnelles vous concernant.
      Vous pouvez exercer ce droit :<br><br>
      
      • à travers les rubriques « Mon compte » et « Mes adresses » du Site dans laquelle Vous pouvez modifier, supprimer, actualiser et corriger l'ensemble des informations Vous concernant ;<br>
      • en adressant un courrier au Service Relation Clients dont les coordonnées figurent à l'article 1 des présentes CGV ;<br>
      • en adressant un e-mail expliquant votre demande à l'adresse : contact@spiritofmanga.com.<br><br>
      
      Dans toute correspondance, les informations suivantes devront être communiquées : nom, prénom, adresse et email. Conformément à la réglementation en vigueur, les demandes ne pouvant pas être gérées directement par le Client sur le Site doivent être signées et accompagnées de la photocopie d'un titre d'identité portant la signature du Client et précisées l'adresse à laquelle doit parvenir la réponse. Une réponse sera alors adressée dans les plus brefs délais suivant la réception de la demande.
      <br>12.3 Partage d'informations
      Les informations qui sont demandées au Client sont nécessaires au traitement de sa commande. Elles pourront être communiquées aux transporteurs contractuels de COPY Corporation SARL intervenant dans le cadre de l'exécution d'une commande.
      COPY Corporation SARL est susceptible de partager vos informations personnelles avec des partenaires après avoir obtenu votre consentement lors de votre inscription sur le Site. Le consentement exprès est obligatoire pour le partage de toute donnée sensible Vous concernant.
      
      <br> 12.4 Lettre d'information
      COPY Corporation SARL pourra Vous proposer gratuitement de Vous inscrire à un service appelé « Newsletter ». Cette lettre aura, avant tout, un but pédagogique et informatif. Elle contiendra des informations Vous permettant de mieux utiliser le Site et met en avant les nouveautés de celui-ci. Conformément à la réglementation en vigueur et aux recommandations de la CNIL, le Client aura la possibilité de ne plus recevoir la Lettre d'Information en se désabonnant d'un simple clic.
      Certaines Lettres d'Information pourront contenir des messages publicitaires pour des tiers appelés « Partenaires ». L'insertion des messages de sponsors dans la Lettre qui Vous sera adressée par COPY Corporation SARL n'entraînera aucune transmission de vos coordonnées aux partenaires concernés.
      <br>12.5 Cookies
      La navigation sur le Site peut entraîner l'implantation de cookies dans l'ordinateur du Client. Ils simplifient la visite et améliorent l'ergonomie du Site durant la navigation.
      Lors de l'utilisation des services de commande de produits du Site, les identifiants personnels sont mis en relation avec le cookie dans le but d'améliorer le service personnalisé. Ces informations sont cryptées et ne sont pas accessibles en cas d'accès non autorisé.    
  </p>

  <h3>Article 13 - Loi applicable</h3>
  <p>
      Les présentes CGV sont régies, tant pour leur interprétation que pour leur exécution, par la loi française.
  </p>

  <h3>Article 14 - Service Relation Clients, Contact, Coordonnées</h3>
  <p>
      Conformément à l'article L.121-18 du Code de la Consommation, Vous trouverez ci-dessous l'ensemble des informations Vous permettant de contacter effectivement les services de COPY Corporation SARL.
      Pour toute information ou question, Vous pouvez contacter le Service Relation Clients :<br><br>
      • Par téléphone : +33 6 10 80 61 87<br>
      • Par e-mail : contact@spiritofmanga.com<br>
      • Par courrier : COPY Corporation SARL - Service Relation Clients - 2 rue Léon Jouhaux - F-77470 Trilport<br>
      <br> Mentions légales :
      <br>Société COPY Corporation SARL au capital de 100 €
      <br>Siège social : 2 rue Léon Jouhaux 77470 Trilport
      <br>SIRET : 537 666 042 000
      <br>APE : 4791B
      <br>TVA intracommunautaire : FR 76 537 666 042
  </p>

  <h3>Article 15 - Dispositions finales</h3>
  <p>
      Aucune condition particulière ne peut, sauf acceptation formelle et écrite de COPY Corporation SARL, prévaloir sur ces Conditions Générales de Vente.
      Le fait que COPY Corporation SARL ne se prévale pas, à un moment donné, d'une des dispositions des présentes Conditions Générales de Vente ne pourra être interprété comme valant renonciation par elle-même à se prévaloir ultérieurement de l'une de ces dispositions.
      Dans le cas où l'une des dispositions des Conditions Générales de Vente serait non valide ou déclarée comme tel en application d'une loi, d'un réglement ou d'une décision définitive d'une juridiction compétente, cette disposition serait réputée non écrite, sans que cela n'affecte la validité des autres dispositions, sauf si la disposition déclarée nulle ou sans effet était essentielle et déterminante.
  </p>
</div>