<div class="main">
  <div class="title">
    <p>Création de votre compte</p>
  </div>

  <form class="form" [formGroup]="postUserForm" (ngSubmit)="onSubmit()">
    <div class="userInfoWrapper">
      <div class="inputField">
        <label>Pseudo :</label>
        <input class="input" type="text" formControlName="pseudo" required>
        <div class="error" *ngIf="postUserForm.get('pseudo').errors && postUserForm.get('pseudo').touched">
          Veuillez entrer un pseudo entre 4 et 15 lettres
        </div>
      </div>
    
      <div class="inputField">
        <label>Prénom :</label>
        <input type="text" formControlName="firstname" required>
      </div>
    
      <div class="inputField">
        <label>Nom :</label>
        <input class="input" type="text" formControlName="lastname" required>
      </div>
    
      <div class="inputField">
        <label>Mot de passe :</label>
        <input class="input" type="text" formControlName="password" required>
        <div class="error" *ngIf="postUserForm.get('password').errors && postUserForm.get('password').touched">
          Votre mot de passe doit au moins faire 8 caractères contenir une minuscule, une masjuscule, un chiffre et un
          caractère spécial(ex: !@#$%^&*)
        </div>
      </div>
    
      <div class="inputField">
        <label>Confirmez votre mot de passe :</label>
        <input class="input" type="text" formControlName="checkPassword" required>
        <div class="error"
          *ngIf="postUserForm.get('password').value !== postUserForm.get('checkPassword').value && postUserForm.get('password').touched && postUserForm.get('checkPassword').touched">
          Le mot de passe ne correspond pas.
        </div>
      </div>
    
      <div class="inputField">
        <label>Email :</label>
        <input class="input" type="email" formControlName="email" required>
        <div class="error" *ngIf="postUserForm.get('email').errors && postUserForm.get('email').touched">
          Veuillez entrer une adresse mail valide (ex: john@doe.fr)
        </div>
      </div>
    
      <div class="inputField">
        <label>Téléphone :</label>
        <input class="input" type="text" formControlName="telephone">
        <div class="error" *ngIf="postUserForm.get('telephone').errors && postUserForm.get('telephone').touched">
          Veuillez entrer un numéro de téléphone au bon format (ex: 0123456789)
        </div>
      </div>
    </div>

    <div class="adresse">Addresse</div>

    <div class="userAdresseWrapper">
      <div class="inputField">
        <label>Numéro de rue :</label>
        <input class="input" type="text" formControlName="numRue" required>
        <div class="error" *ngIf="postUserForm.get('numRue').errors && postUserForm.get('numRue').touched">
          Veuillez entrer votre numéro de rue
        </div>
      </div>
    
      <div class="inputField">
        <label>Rue :</label>
        <input class="input" type="text" formControlName="rue" required>
        <div class="error" *ngIf="postUserForm.get('rue').errors && postUserForm.get('rue').touched">
          Veuillez entrer un nom d'adresse valide
        </div>
      </div>
    
      <div class="inputField">
        <label>Ville :</label>
        <input class="input" type="text" formControlName="ville" required>
        <div class="error" *ngIf="postUserForm.get('ville').errors && postUserForm.get('ville').touched">
          Veuillez entrer un nom d'adresse valide
        </div>
      </div>
    
      <div class="inputField">
        <label>Code postal :</label>
        <input class="input" type="text" formControlName="cp" required>
        <div class="error" *ngIf="postUserForm.get('cp').errors && postUserForm.get('cp').touched">
          Veuillez entrer un code postal au bon format
        </div>
      </div>
    
      <div class="inputOption">
        <label>Newsletter :</label>
        <select name="newsletter" formControlName="newsletter" required>
          <option value="1">Oui</option>
          <option value="0">Non</option>
        </select>
      </div>
    
      <div class="inputOption">
        <label>Comment nous avez-vous connu ?</label>
        <select name="connaissance" formControlName="connaissance" required>
          <option value="Réseaux sociaux">Réseaux sociaux</option>
          <option value="Un ami">Un ami</option>
          <option value="Moteur de recherche">Moteur de recherche</option>
          <option value="Autre">Autre</option>
        </select>
      </div>
    </div>
    <button class="butonForm" type="submit" [disabled]="!postUserForm.valid">Submit</button>   
  </form>
  
</div>