<app-search-pack-bar (chosenPack)= "getChosenPack($event)"></app-search-pack-bar>

<section class='main' *ngIf="chosenPack">
  <ul *ngFor="let pack of chosenPack">
    <li>
        <p>{{pack.namePack}}</p>
      <input [(ngModel)]="pack.namePack" placeholder={{pack.namePack}}>
    </li>
    <li>
      <img id="cover" src={{pack.photoPack}}>
      <input [(ngModel)]="pack.photoPack" placeholder={{pack.photoPack}}>
    </li>
    <button class="button" (click)="update(pack)">UPDATE</button>
  </ul>

</section>
