<div class="theCtn">
    <div class="cardCtn">
        <div class="cardContent">
            <img src="../../../../assets/img/mangaOne.jpg"> 
            <h4>NARUTO</h4>
            <p>TOME 7</p>
        </div>
    </div>

    <div class="cardCtn">
            <div class="cardContent">
                <img src="../../../../assets/img/mangaOne.jpg"> 
                <h4>NARUTO</h4>
                <p>TOME 7</p>
            </div>
    </div>

    <div class="cardCtn">
            <div class="cardContent">
                <img src="../../../../assets/img/mangaOne.jpg"> 
                <h4>NARUTO</h4>
                <p>TOME 7</p>
            </div>
    </div>

    <div class="cardCtn">
            <div class="cardContent">
                <img src="../../../../assets/img/mangaOne.jpg"> 
                <h4>NARUTO</h4>
                <p>TOME 7</p>
            </div>
    </div>

    <div class="cardCtn">
            <div class="cardContent">
                <img src="../../../../assets/img/mangaOne.jpg"> 
                <h4>NARUTO</h4>
                <p>TOME 7</p>
            </div>
    </div>
    
</div>