@import '../../../../styles.scss';

.main{

    .listUser{
    background-color: rgba(white,0.6);
    border: 3px solid white; 
    color: black;
    display: flex;
    padding: 20px;
    margin: 15px;
    width:300px;
    height: 50px;
    align-items: center;
    }

    p{
        padding:20px;
    }
}