@import '../styles.scss';

#bodyBackContent{
    min-height: 100vh;
    width: 100vw;    
}


#componentsBack{
    position: fixed;
    top: 12vh;
    left: 21vw;
    width: auto;
    min-height: auto;
    background-color: white;
    padding-bottom: 10px;
}
