@import '../styles.scss';

#bodyBackContent{
    display: flex;
    height: 100vh;
    width: 100vw;
}

#navbarBack{
    width: 17vw;
    background-color: $blue ;
}

#componentsBack{
    padding: 2%;
}