@import '../styles.scss';

#bodyBackContent{
    height: auto;
    width: 100vw;    
    overflow: scroll;
}


#componentsBack{
    position: fixed;
    top: 12vh;
    left: 21vw;
    width: auto;
    min-height: fit-content;
    background-color: white;
    overflow: scroll;
}
