 <!-- <div *ngIf="role admin">  -->
    <div id="bodyBackContent">

        <div id="navbarBack">
            <app-back-office-page></app-back-office-page>
        </div>
        
        <div id="componentsBack">
            <router-outlet></router-outlet>
        </div>
    </div>
<!-- </div> -->

<!-- <div *ngIf="role lambda"> -->
<!-- </div> -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
