.headerCtn{
    background-image: url(../../../../assets/img/picOne.png);
    height: 70vh;
}

.headerContent {
    background-color: rgba(255, 255, 255, 0.3);
    height: 70vh;
}

h3{
    text-align: center;
    color: #ff7b01;
    text-shadow: 2px 2px 1px  black;
    font-weight: bold;
    font-family: 'Asap', sans-serif;
    font-size: 180%;
    letter-spacing: .1rem;
    padding: 1%;
}
