<div class="main">
  <h3 class="formTitle">MANGAS EN ATTENTE DE DISPONIBILITÉ</h3>
  <p class='headers'>Liste des mangas demandés (cliquez pour voir les lecteurs en attente) :</p>
  <div class="awaitingOrders">
    <a *ngFor="let manga of mangas" (click)="getAwaitingUsers(manga, ordersAwaiting)">{{manga}}</a>
  </div>

  <div id="readersAwaiting" *ngIf="displayUsers">
    <p class='headers'>{{ users.length + ' lecteur(s) en attente pour ' + manga + ' :'}}</p>
    <div *ngFor="let user of users">{{ user.firstname + ' ' + user.lastname}}
      <p>{{ user.email }}</p>
    </div>
  </div>

</div>
