.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .awaitingOrders {
        display: flex;
        flex-direction: column;
        align-items: center;

        a:hover {
            text-decoration: underline;
        }
    }
}
