@import '../../../styles.scss';

.main {
    height: fit-content;
    width: 75vw;
    background-color: $grey;
    overflow: scroll;
}

ul {
    li{
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 30%;

       input {
           margin-top: 10px;
       }
    }

    button {
        background-color: white;
        border: 1px solid black;
    }
}
