@import '../../../styles.scss';

.main {
    height: auto;
    width: 85vw;
    background-color: $grey;
    overflow: scroll;
}

ul {
    li{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: auto;

        #cover {
            height: 250px;
            width: 150px;
        }

       input {
           margin-top: 10px;
       }
    }

    button {
        background-color: white;
        border: 1px solid black;
        margin-right: 1vw;
    }
}
