<h2>Donnez votre avis sur spiritofmanga.com</h2>
<div class="ctn">
  <div class="userAvis">
    <h3>Laissez votre avis !</h3>
    <form>
      <label> Votre Pseudo*<br>
          <input>
      </label>
      <label> Votre Avis*<br>
          <textarea></textarea>
      </label>
      <button>Envoyer</button>
    </form>
  </div>
  <img src="../../../../assets/img/compi.png">
</div>

<div class="listAvis">
  <h3>Vos avis</h3>
  <div class="quote">
    <h4>elgringo</h4>
    <p class="date">05/01/2019</p>
    <p>Très bon service. Les mangas étaient bien emballés, en bon état et arrivés dans les temps. 
       Il n'y a qu'à espérer plus de produits en vente!</p>
  </div>
  <div class="quote">
    <h4>Blaxix</h4>
    <p class="date">05/01/2019</p>
    <p>J'ai une question, les séries intégrales comme rainbow, a silent vocie, sorte souvent dans votre boutique ? Ou dois-je prendre 
      quelques tomes et attendre que les autres sortent sur votre boutique ?</p>
  </div>
  <div class="quote">
    <h4>Missdu33</h4>
    <p class="date">05/01/2019</p>
    <p>Je suis sur ce site depuis 7 ans déjà! et jamais! 
      vraiment jamais il ne m'a déçu. Emballage toujours soigné, 
      une rigueur à l'expédition qui en ferait pâlir plus d'un et un choix ... qui laisse rêveur. tout cela me fait penser que ça fait un petit moment que je n'ai rien commandé.. allons remédier à cela tout de suite !!!!</p>
  </div>
  <div class="quote">
    <h4>EasterEgg</h4>
    <p class="date">05/01/2019</p>
    <p>Très bon service. Les mangas étaient bien emballés, en bon état et arrivés dans les temps. 
        Il n'y a qu'à espérer plus de produits en vente!</p>
  </div>
</div>
