<h2>Créer un nouveau mot de passe</h2>

<form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" class="newPwForm">

  <div class="field">
    Nouveau mot de passe :
    <input 
      type="text" 
      formControlName="password"
      required
    />
    <div class="error" *ngIf="newPasswordForm.get('password').errors && newPasswordForm.get('password').touched">
      Votre mot de passe doit au moins faire 8 caractères <br> contenir une minuscule, une masjuscule, un chiffre <br>et un
      caractère spécial (ex: !@#$%^&*).
    </div>
  </div>

  <div class="field">
    Confirmez le mot de passe :
    <input 
    type="text" 
    formControlName="confirmPassword"
    required
    />
    <div class="error" *ngIf="newPasswordForm.errors && newPasswordForm.get('confirmPassword').touched">
      Les deux mots de passe ne correspondent pas.
    </div>
  </div>

  <button type="submit" [disabled]="!newPasswordForm.valid">Envoyer</button>
</form>
