<h2>Entrez votre nouveau mot de passe.</h2>

<form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
  <input 
    type="text" 
    formControlName="password"
    required
  />

  <input 
  type="text" 
  formControlName="confirmPassword"
  required
  />
  <div class="error" *ngIf="newPasswordForm.get('confirmPassword').value.errors && newPasswordForm.get('confirmPassword').value.touched">
    Votre mot de passe doit au moins faire 8 caractères <br> contenir une minuscule, une masjuscule, un chiffre <br>et un
    caractère spécial(ex: !@#$%^&*)
  </div>

  <button type="submit">Envoyer</button>

</form>
