<div id="bodyBack">
  <aside class="menu">
    <img src="../../../../assets/img/logo.png" alt="logo_spiritofmanga">
    <ul class="menu-list">

      <p class="menu-label">
        GÉRER MES MANGAS
      </p>
        <li><a [routerLink]="['/form-manga']">Créer Manga</a></li>
        <li><a [routerLink]="['/']">Modifier Manga</a></li>
        <li><a [routerLink]="['/manage-series']">Créer/Modifier Série</a></li>
        <li><a [routerLink]="['/']">Créer Pack</a></li>
        <li><a [routerLink]="['/']">Modifier Pack</a></li>
        <li><a [routerLink]="['/']">Gérer Promotions</a></li>

      <p class="menu-label">
        GÉRER MES COMMANDES
      </p>
        <li><a [routerLink]="['/']">Commandes en cours</a></li>
        <li><a [routerLink]="['/']">Commandes archivées</a></li>

      <p class="menu-label">
        GÉRER MES UTILISATEURS
      </p>
        <li><a [routerLink]="['/']">Alertes disponibilités</a></li>
        <li><a [routerLink]="['/']">Mes utilisateurs</a></li>
    </ul>
  </aside>

  <div class="headerBack">
    <span class="date">{{dateValue | date:' d MMMM y '}}</span>
    <i class="fas fa-power-off"></i> <!-- ICI FONCTION DISCONNECT -->

  </div>
</div>