<div id="bodyBack">
  <aside class="menu">
    <img src="../../../../assets/img/logo.png" alt="logo_spiritofmanga">
    <ul class="menu-list">

      <p class="menu-label">
        GÉRER MES MANGAS
      </p>
        <li><a [routerLink]="['/manage-home']">Gérer la Home Page</a></li>
        <li><a [routerLink]="['form-manga']">Créer Manga</a></li>
        <li><a [routerLink]="['/update-manga']">Modifier/Supprimer Manga</a></li>
        <li><a [routerLink]="['/stock-manga']">Gérer Stock/Prix/Etat</a></li>
        <li><a [routerLink]="['/manage-series']">Créer/Modifier Série</a></li>
        <li><a [routerLink]="['/create-pack']">Gérer Packs</a></li>
        <li><a [routerLink]="['/']">Gérer Promotions</a></li>

      <p class="menu-label">
        GÉRER MES COMMANDES
      </p>
        <li><a [routerLink]="['/on-going-order']">Commandes en cours</a></li>
        <li><a [routerLink]="['/']">Commandes archivées</a></li>

      <p class="menu-label">
        GÉRER MES UTILISATEURS
      </p>
        <li><a [routerLink]="['/manage-users']">Mes utilisateurs</a></li>
        <li><a [routerLink]="['/alerts']">Alertes disponibilités</a></li>
    </ul>
  </aside>

  <div class="headerBack">
    <span class="date">{{dateValue | date:' d MMMM y '}}</span>
    <img (click)="logOut()" src="../../../../assets/img/logoSignOut.png" alt="signOutLogo"> <!-- ICI FONCTION DISCONNECT -->

  </div>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
