@import "../../../common/styles/back-office.scss";

#main {
  padding: 15px;

  h3 {
    @include titleStyle;
  }

  .headers {
    font-style: italic;
    font-size: 1.5em;
  }
  .favoritesWrapper{
    border: 5px solid $orangeBack;
    border-radius: 5px;
  }
  .favoritesManga {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid $orangeBack;
  }
  #searchBar {
    width: 60vw;
    padding-right: 0;
    padding-top: 10px;
    background-color: white;
  }

  button {
    @include validateButtonStyle;
    color: #16233B;
  }
}
