#main {
    display:flex;
    flex-direction: column;
    padding: 15px;

    h3{
        font-size: 30px;
        padding-bottom: 15px;
    }

    input, select {
        margin-right: 15px;
    }

    #stateCreation {
        width: 60vw;
    }

    .deleteState {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    button {
        background-color:#FF8D30;
        width: 150px;
    }
}