<form [formGroup]="postUserForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Pseudo :</label>
    <input type="text" formControlName="pseudo" required>
  </div>

  <div>
    <label>Prénom :</label>
    <input type="text" formControlName="firstname" required>
  </div>

  <div>
    <label>Nom :</label>
    <input type="text" formControlName="lastname" required>
  </div>

  <div>
    <label>Mot de passe :</label>
    <input type="text" formControlName="password" required>
    <label>Confirmez votre mot de passe :</label>
    <input type="text" formControlName="forgetPassword" required>
  </div>

  <div class="form-group" >
    <label>Email :</label>
      <input type="email" formControlName="email" required>
      <div *ngIf="postUserForm.get('email').errors && postUserForm.get('email').touched">     
        Veuillez entrer une adresse mail valide
      </div>
  </div>
  
  <div>
    <label>Phone number :</label>
    <input type="number" formControlName="telephone">
  </div>

  <h3>Address</h3>

  <div>
    <label>Street number :</label>
    <input type="number" formControlName="numRue" required>
  </div>

  <div>
    <label>Street :</label>
    <input type="text" formControlName="rue" required>
  </div>

  <div>
    <label>City :</label>
    <input type="text" formControlName="ville" required>
  </div>

  <div>
    <label>Zip Code :</label>
    <input type="text" formControlName="cp" required>
  </div>
  
  <div>
    <label>Newsletter :</label>  
    <select name="newsletter" formControlName="newsletter" required>
      <option value="1">Yes</option>
      <option value="0">Non</option>
    </select>
  </div>
  
  <div>
    <label>Comment t'as connu frrère???</label> 
    <select name="connaissance" formControlName="connaissance" required>
      <option value="option1">option number 1</option>
      <option value="option2">option number 2</option>
      <option value="option3">option number 3</option>
      <option value="option4">option number 4</option>
    </select>
  </div>

  <div>
    <label>Newsletter :</label> 
    <select name="droits" formControlName="droits" required>
      <option value="Dieu">Dieu</option>
      <option value="Paysans">Paysans</option>
    </select>
  </div>

  <button type="submit" [disabled]="!postUserForm.valid">Submit</button>
</form>

<hr>

<p>
  Form Value: {{ postUserForm.value | json }}
</p>

<!-- <p>
  email Valid: {{ postUserForm.get('email').valid}}
</p>

<p>
  email dirty: {{ postUserForm.get('email').}}
</p>

<p>
  email errors: {{ postUserForm.get('email').errors}}
</p>

<p>
  Form Status: {{ postUserForm.status }}
</p>

<p>
  Form dirty: {{ postUserForm.dirty }}
</p>

<p>
  Form touched: {{ postUserForm.touched }}
</p> -->