<form [formGroup]="postUserForm" (ngSubmit)="onSubmit()">
  <label>
    Pseudo:
    <input type="text" formControlName="pseudo" required>
  </label>
    
  <label>
    First Name:
    <input type="text" formControlName="firstname" required>
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastname" required>
  </label>

  <label>
    Password:
    <input type="text" formControlName="password" required>
  </label>

  <label>
    forget Password:
    <input type="text" formControlName="forgetPassword" required>
  </label>

  <label>
    Email :
    <input type="text" formControlName="email" required>
  </label>

  <h3>Address</h3>

  <label>
    Street number:
    <input type="number" formControlName="numRue" required>
  </label>

  <label>
    Street:
    <input type="text" formControlName="rue" required>
  </label>

  <label>
    City:
    <input type="text" formControlName="ville" required>
  </label>
  
  <label>
    Zip Code:
    <input type="text" formControlName="cp" required>
  </label>


  <div>
    Newsletter: 
    <select name="newsletter" formControlName="newsletter" required>
      <option value="1">Yes</option>
      <option value="0">Non</option>
    </select>
  </div>
  
  <div>
    Comment t'as connu frrère??? 
    <select name="connaissance" formControlName="connaissance" required>
      <option value="option1">option number 1</option>
      <option value="option2">option number 2</option>
      <option value="option3">option number 3</option>
      <option value="option4">option number 4</option>
    </select>
  </div>

  <div>
      Newsletter: 
      <select name="droits" formControlName="droits" required>
        <option value="Dieu">Dieu</option>
        <option value="Paysans">Paysans</option>
      </select>
    </div>



  <button type="submit" [disabled]="!postUserForm.valid">Submit</button>
</form>

<hr>

<p>
  Form Value: {{ postUserForm.value | json }}
</p>


<p>
  Form Status: {{ postUserForm.status }}
</p>