<div class="navCtn">

    <img id="logo" src="../../../../assets/img/logo.png">

    <div class="rootCtn">

        <ul>
            <li><a [routerLink]="['page-dacceuil']">ACCEUIL</a></li>
            <li><a [routerLink]="['mangas-liste']">MANGAS</a></li>
            <li><a [routerLink]="['promotion']">PROMOTIONS</a></li>
            <li><a [routerLink]="['packs-liste']">PACKS</a></li>
            <li><a [routerLink]="['vendre-manga']">VENDRE VOS MANGAS</a></li>
            <li class="dropdown"><a (click)="activateLoginForm()">SE CONNECTER</a>
                <div class="dropdown-content" *ngIf="loginForm">
                    <li><app-user-login (mailSender)='getUserConnected($event)'></app-user-login></li>
                    <li *ngIf="adminConnected"><a (click)="goToBackOffice()">Aller sur le back-office</a></li>
                </div>
            </li>
        </ul>
        <img src="../../../../assets/img/panierLogoo.png" class="logoPanier" alt="logo basket" [routerLink]="['panier']">


    </div>

</div>
<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">