<div class="navCtn">

    <img id="logo" src="../../../../assets/img/logo.png">

    <div class="rootCtn">

        <ul>
            <li>MANGAS</li>
            <li>PROMOTIONS</li>
            <li>PACKS</li>
            <li>VENDRE VOS MANGAS</li>
            <li><app-user-login (mailSender)='getUserConnected($event)'>Se connecter</app-user-login></li>
            <li *ngIf="">Aller sur le back-office</li>
        </ul>

    </div>

</div>
<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">