.navCtn {
    display: flex;
    margin-bottom: -2%;
}

.navCtn img {
    margin: 1%;
    z-index: 999;
}

.rootCtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rootCtn ul {
    display: flex;
}

.rootCtn li{
    margin: 5%;
    white-space: nowrap;
    color: #1d1c1c;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    font-size: 120%;
    letter-spacing: .1rem;
    margin-bottom: 10%;
    
}