@import '../../../common/styles/back-office.scss';

.main {
    min-height: 73vh;
    .titleLogin{
        color: #ff7b01;
        font-weight: bold;
        font-family: 'Dosis', sans-serif;
        font-size: 2em;
        letter-spacing: .1rem;
        margin-top: 2%;
        text-align: center;
    }
    p {
        margin-bottom: 3%;
        text-align: center;
    }
    .container{
        display: flex;
        margin-bottom: 2%;

    img {
        margin-top: -110px;
        margin-bottom: -20px;
        padding-left: 8%;
    }

    form{
        margin:auto;
        margin-top: 4%;
        
        label {
            padding:10px;
            font-size: 20px;
            input {
                border-radius: 5px;
                -webkit-appearance: none;
                border: solid 2px $orangeLight;
                width: 400px; height: 45px;
            }
            input:focus {
                outline:none;
            }
        }

        .buttonLink{
            .buttonForm {
                @include validateButtonStyle;

            }
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
    
            button {
                margin-top: 10px;
                -webkit-appearance: none;
                width: 170px;
                height: 40px;
                background-color: $orange;
                border: 0;
                border-radius: 30px;
                color: white;
                font-weight: 700;
                outline: none !important;
                border: none;
             & :hover {
                box-shadow: 4px 4px 0px black;
                cursor: pointer;
            } & :focus {
                -webkit-appearance: none;
                outline:none !important;
            } 
        }
    
        }
    }
    .accesLink {
        color: $orange;
        text-decoration: none;
        font-weight: 600;
        &:hover {
            color: rgb(54, 54, 156);
            text-decoration: underline;
        }
    }}
}

